:root {
    --primary-color: #00B4D8;
    --secondary-color: #113686;
    --background-color: #03045E;
    --font-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--font-color);
}

.custom-navbar {
    background-color: var(--background-color);
    color: white; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem; 
}

main {
    padding-top: 5rem;
}

a {
    text-decoration: none;
}

nav a{
    font-size: 1.8rem;
    color: var(--font-color);
    margin-right: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

nav a:hover, nav a:active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

section {
    padding-top: 90px;
}

footer {
    padding-top: 90px;
    padding-bottom: 90px;
}

.mi-foto {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}

b {
    color: var(--primary-color);
}

.cuadro {
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--font-color);
    margin-bottom: 2rem;
}

.cuadro-img {
    width: 286px;
    height: 180px;
    object-fit: cover;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0 0 10px 0;
}

ul li img {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 1.5rem;
}