:root {
    font-family: "Lato", sans-serif;
    --primary-color: #FFB703;
    --secondary-color: #FB8500;
    --background-color: #0a1844;
    --background-secondary: #1b2a5c;
    --font-color: #FFFFFF;
    --font-secondary-color: #8ECAE6;
    --bar-color: #202020;
}

